<div *ngIf="user">
  <div [hidden]="this.user.admin == 0">
    <h6 text-center>Área Administrativa</h6>
    <ion-list no-lines>
      <button ion-item icon-right detail-none menuClose="user-menu" (click)="onAgenda()">
        Cadastrar Agenda
        <ion-icon name="clock" item-end></ion-icon>
      </button>
    </ion-list>
  </div>
  <div [hidden]="this.user.admin != 10">
    <h6 text-center>Área Super-Admin</h6>
    <ion-list no-lines>
      <button ion-item icon-right detail-none menuClose="user-menu" (click)="onBiblioteca()">
        Cadastro de Livros
        <ion-icon name="book" item-end></ion-icon>
      </button>
    </ion-list>
  </div>
</div>
